{% extends 'base.html' %}


{% block content %}
    <h1 class="h1 mb-4 text-gray-800">Pagos</h1>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-md-6">
                    <h6 class="m-0 font-weight-bold text-primary">Lista de pagos en la clínica</h6>
                </div>           
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div class="row">
                    <div class="col-md-12">
                        <form method="get" id="selectMesForm">
                            <label>Mes:
                                <select name="q" id="mesSelect" onchange="seleccionMes()" class="custom-select custom-select-sm form-control form-control-sm">
                                    <option value="None">Selecciones un mes</option>
                                    <option value="1">Enero</option>
                                    <option value="2">Febrero</option>
                                    <option value="3">Marzo</option>
                                    <option value="4">Abril</option>
                                    <option value="5">Mayo</option>
                                    <option value="6">Junio</option>
                                    <option value="7">Julio</option>
                                    <option value="8">Agosto</option>
                                    <option value="9">Septiembre</option>
                                    <option value="10">Octubre</option>
                                    <option value="11">Noviembre</option>
                                    <option value="12">Diciembre</option>
                                </select>
                            </label>
                        </form>
                    </div>
                </div>
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Fecha(Día-Mes-Año)</th>
                            <th>Doctor</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pago in pagos %}
                        <tr onclick="DoNav('{% url 'pago_datos' pago.pk %}')">
                            <td>{{ pago.fechaPago|date:'d-m-Y' }}</td>
                            <td>{{ pago.idDoctor }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#dataTable').DataTable( {
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json"
                }
            } );
        } );

        function DoNav(theUrl){
            document.location.href = theUrl;
        }
        document.getElementById("id_q").value = "{{ query }}"

        function seleccionMes() {
            // var especialidad = document.getElementById("especialidadSelect").value;
            // console.log(especialidad);
            document.getElementById("selectMesForm").submit();
            document.getElementById("mesSelect").value = "{{ query }}";
        }
    </script>
{% endblock content %}
    