{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% block extrahead %}
{% endblock %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Clínica CEM</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>


</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'inicio' %}">
        <div class="sidebar-brand-icon">
            <!-- <i class="fal fa-clinic-medical"></i> -->
        </div>
        <div class="sidebar-brand-text mx-3">Clínica CEM</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Divider -->
      <hr class="sidebar-divider">

      {% if perms.CEM.view_user or perms.CEM.change_user or perms.CEM.add_user or perms.CEM.delete_user %}
      <!-- Heading -->
      <div class="sidebar-heading">
        Administrador
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo0" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-user-shield"></i>
          <span>Usuarios</span>
        </a>
        <div id="collapseTwo0" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="py-2 collapse-inner rounded" style="background-color: rgba(250,250,250,0.1)">
            <h6 class="collapse-header" style="color: white">Acciones:</h6>
            {% if perms.CEM.add_user %}
              <a class="collapse-item" href="{% url 'signup' %}" style="color: white">Agregar</a>
            {% endif %}
            {% if perms.CEM.view_user %}
              <a class="collapse-item" href="{% url 'usuarios' %}" style="color: white">Listar</a>
            {% endif %}
          </div>
        </div>
      </li>

       <!-- Divider -->
       <hr class="sidebar-divider">
      {% endif %}

      {% if perms.CEM.view_doctor or perms.CEM.change_doctor or perms.CEM.add_doctor or perms.CEM.delete_doctor %}
      <!-- Heading -->
      <div class="sidebar-heading">
        Doctores
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo1" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-user-md"></i>
          <span>Doctores</span>
        </a>
        <div id="collapseTwo1" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="py-2 collapse-inner rounded" style="background-color: rgba(250,250,250,0.1)">
            <h6 class="collapse-header" style="color: white">Acciones:</h6>
            {% if perms.CEM.add_doctor %}
              <a class="collapse-item" href="{% url 'doctor_nuevo' %}" style="color: white">Agregar</a>
            {% endif %}
            {% if perms.CEM.view_doctor %}
              <a class="collapse-item" href="{% url 'doctores' %}" style="color: white">Listar</a>
            {% endif %}
          </div>
        </div>
      </li>

       <!-- Divider -->
       <hr class="sidebar-divider">
      {% endif %}

      {% if perms.CEM.view_paciente or perms.CEM.change_paciente or perms.CEM.add_paciente or perms.CEM.delete_paciente %}
       <!-- Heading -->
       <div class="sidebar-heading">
         Pacientes
       </div>
 
       <!-- Nav Item - Pages Collapse Menu -->
       <li class="nav-item">
         <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo2" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-user-injured"></i>
           <span>Pacientes</span>
         </a>
         <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
           <div class="py-2 collapse-inner rounded" style="background-color: rgba(250,250,250,0.1)">
             <h6 class="collapse-header" style="color: white">Acciones:</h6>
            {% if perms.CEM.add_paciente %}
              <a class="collapse-item" href="{% url 'paciente_nuevo' %}" style="color: white">Agregar</a>
            {% endif %}
            {% if perms.CEM.view_paciente %}
              <a class="collapse-item" href="{% url 'pacientes' %}" style="color: white">Listar</a>
            {% endif %}
           </div>
         </div>
       </li>

        <!-- Divider -->
      <hr class="sidebar-divider">
      {% endif %}

      {% if perms.CEM.view_consulta or perms.CEM.change_consulta or perms.CEM.add_consulta or perms.CEM.delete_consulta %}
      <!-- Heading -->
      <div class="sidebar-heading">
        Consultas
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo3" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-notes-medical"></i>
          <span>Consultas</span>
        </a>
        <div id="collapseTwo3" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="py-2 collapse-inner rounded" style="background-color: rgba(250,250,250,0.1)">
            <h6 class="collapse-header" style="color: white">Acciones:</h6>
            {% if perms.CEM.add_consulta %}
              <a class="collapse-item" href="{% url 'consulta_nuevo' %}" style="color: white">Agregar</a>
            {% endif %}
            {% if perms.CEM.view_consulta %}
              <a class="collapse-item" href="{% url 'consultas' %}" style="color: white">Listar</a>
            {% endif %}
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">
      {% endif %}

      {% if perms.calendario.view_event or perms.calendario.change_event or perms.calendario.add_event or perms.calendario.delete_event %}
      <!-- Heading -->
      <div class="sidebar-heading">
        Calendario
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo4" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-calendar-alt"></i>
          <span>Calendario</span>
        </a>
        <div id="collapseTwo4" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="py-2 collapse-inner rounded" style="background-color: rgba(250,250,250,0.1)">
            <h6 class="collapse-header" style="color: white">Acciones:</h6>
            {% if perms.calendario.view_event %}
              <a class="collapse-item" href="{% url 'calendar' %}" style="color: white">Calendario</a>
            {% endif %}
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">
      {% endif %}

     {% if perms.calendario.view_event or perms.calendario.change_event or perms.calendario.add_event or perms.calendario.delete_event %}
      <!-- Heading -->
      <div class="sidebar-heading">
        Contabilidad
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo5" aria-expanded="true" aria-controls="collapseTwo">
            <i class="far fa-money-bill-alt"></i>
          <span>Contabilidad</span>
        </a>
        <div id="collapseTwo5" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="py-2 collapse-inner rounded" style="background-color: rgba(250,250,250,0.1)">
            <h6 class="collapse-header" style="color: white">Acciones:</h6>
            {% if perms.calendario.view_event %}
              <a class="collapse-item" href="{% url 'pago_nuevo' %}" style="color: white">Agregar</a>
            {% endif %}
            {% if perms.calendario.view_event %}
              <a class="collapse-item" href="{% url 'pago_diario' %}" style="color: white">Pago Diario</a>
            {% endif %}
            {% if perms.calendario.view_event %}
              <a class="collapse-item" href="{% url 'pagos' %}" style="color: white">Pagos</a>
            {% endif %}
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">
      {% endif %}

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            
            {% if request.user.is_authenticated %}  
              <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ request.user.username }}</span>
                  <img class="img-profile rounded-circle" src="/CEM/imagenes/male-user-shadow.png">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                  </a>
                </div>
              </li>
            {% else %}
              <li class="nav-item dropdown no-arrow">
                <a class="nav-link" href="{% url 'login' %}" id="userDropdown">
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small">Iniciar Sesión</span>
                </a>
                <!-- Dropdown - User Information -->
                <!-- <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                  </a>
                </div> -->
              </li>
            {% endif %}

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
            
            {% block content %}
                
            {% endblock content %}
                
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Clínica de especialidades médicas 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¿Seguro que quires salir?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Presiona "Logout" si quieres terminar la sesión.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/jquery/jquery.mask.min.js' %}"></script>
  <script src="{% static 'vendor/jquery/mascara.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

</body>

</html>
