{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-4">
            <p><b>Paciente:</b> {{ paciente_consulta.primerNombrePaciente }} {{ paciente_consulta.primerApellidoPaciente }}</p>
        </div>
        <div class="col-md-4">
            <p><b>Doctor:</b> {{ doctor_consulta.primeroNombreDoctor }}  {{ doctor_consulta.primeroApellidoDoctor }}</p>
        </div>
        <div class="col-md-4">
            <p><b>Fecha:</b> {{ consulta.fechaConsulta }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col mb-4">
            <p><b>Peso:</b> {{ consulta.pesoConsulta }}</p>
        </div>
        <div class="col mb-4">
            <p><b>Altura:</b> {{ consulta.alturaConsulta }}</p>
        </div>
        <div class="col mb-4">
            <p><b>Presión:</b> {{ consulta.presionConsulta }}</p>
        </div>
        <div class="col mb-4">
            <p><b>Temperatura:</b> {{ consulta.temperatura }}</p>
        </div>
        <div class="col mb-4">
            <p><b>Pulso:</b> {{ consulta.pulso }}</p>
        </div>
    </div>
    {% if paciente_consulta.sexoPaciente %}
        <p></p>
    {% else %}
        <div class="row">
            <div class="col-md-12">
                <p><b>Fecha de ultima regla:</b> {{ consulta.fechaUltimaRegla }}</p>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <p><b>Observaciones:</b></p>
            <br>
            {{ consulta.observaciones }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p><b>Receta:</b></p>
            <br>
            {{ consulta.recetas }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p><b>Exámenes solicitados:</b></p>
            <br>
            {{ consulta.examenesSolicitados }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p><b>Repote de exámenes:</b></p>
            <br>
            {{ consulta.reporteExamenes }}
        </div>
    </div>
    <div class="col-md-12">
        <div class="float-right">
            <a href="{% url 'consulta_editar' consulta.pk %}" class="btn btn-secondary">Editar datos</a>
            <button data-toggle="modal"  data-target="#confirmacionEliminarConsulta" class="btn btn-danger">Eliminar Consulta</button>
        </div>
    </div>
    <div class="modal fade" id="confirmacionEliminarConsulta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Eliminar consulta</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro que quiere eliminar los datos?</p>
                </div>
                <div class="modal-footer">
                    <form action="{% url 'consulta_eliminar' pk=consulta.pk %}" method="POST">
                        {% csrf_token %}
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <input type="submit" value="Confirmar" class="btn btn-danger">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
    