{% extends 'base.html' %}

{% block content %}
{{ form.media }}
<h1 class="h1 mb-4 text-gray-800">Editar doctor</h1>
<form method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-4">
            <label>Primer nombre:</label>
            <br>
            {{ form.primerNombreDoctor }}
        </div>
        <div class="form-group col-md-4">
            <label for="">Segundo nombre:</label>
            <br>
            {{ form.segundoNombreDoctor }}
        </div>
        <div class="form-group col-md-4">
            <label for="">Sexo:</label>
            <br>
            {% if doctor.sexoDoctor %}
                <input type="radio" name="sexo" value="True" checked> Masculino
                <input type="radio" name="sexo" value="False"> Femenino
            {% else %}
                <input type="radio" name="sexo" value="True"> Masculino
                <input type="radio" name="sexo" value="False" checked> Femenino
            {% endif %}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
           <label> Primer apellido:</label>
           <br>
            {{ form.primerApellidoDoctor }}
        </div>
        <div class="form-group col-md-4">
            <label>Segundo apellido:</label>
            <br>
            {{ form.segundoApellidoDoctor }}
        </div>
        <div class="form-group col-md-4">
            <label>Fecha de nacimiento:</label>
            <br>
            {{ form.fechaNacimientoDoctor }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label>Especialidad:</label>
            <br>
            {{ form.especialidad }}
        </div>
        <div class="form-group col-md-4">
            <label>Correo electrónico:</label>
            <br>
            {{ form.correoElectronico }}
        </div>
        <div class="form-group col-md-4">
            <label>Número de teléfono:</label>
            <br>
            {{ form.telefonoDoctor }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label>DUI:</label>
            <br>
            {{ form.duiDoctor }}
        </div>
        <div class="form-group col-md-4">
            <label>NIT:</label>
            <br>
            {{ form.nitDoctor }}
        </div>
        <div class="form-group col-md-4">
            <label>NRC:</label>
            <br>
            {{ form.ncfDoctor }}
        </div>
    </div>
    <div class="form-group">
        <label>Fotografía:</label>
        <br>
        {{ form.fotografiaDoctor }}
    </div>
    <div class="col-md-12">
        <div class="float-right">
            <a href="{% url 'doctores' %}" class="btn btn-secondary mr-2">Cancelar</a>
            <input type="submit" value="Guardar" class="btn btn-primary mr-2">
        </div>
    </div>
</form>
{% endblock content %}