{% extends 'base.html' %}

{% block content %}
    <ul>
        <li><a href="{% url 'doctor_nuevo' %}">Agregar</a></li>
        <li><a href="{% url 'doctores' %}">Listar</a></li>
    </ul>

    <div>
        {% if doctor.fotografiaDoctor.url != None %}
            <img src="{{ doctor.fotografiaDoctor.url }}" alt="" height="400" width="300">
        {% endif %}
        Primer Nombre: {{ doctor.primerNombreDoctor }}
        {% if doctor.segundoNombreDoctor != None %}
            Segundo Nombre: {{ doctor.segundoNombreDoctor }}
        {% endif %}
        {% if doctor.sexoDoctor %}
            Sexo: Masculino
        {% else %}
            Sexo: Femenino
        {% endif %}
        <br>
        <br>
        Primer apellido: {{ doctor.primerApellidoDoctor }}
        {% if doctor.segundoApellidoDoctor != None %}
            Segundo Nombre: {{ doctor.segundoApellidoDoctor }}
        {% endif %}
        Fecha de nacimiento: {{ doctor.fechaNacimientoDoctor }}
        <br>
        <br>
        Especialidad: {{ doctor.especialidad }}
        Correo Electrónico: {{ doctor.correoElectronico }}
        Número de teléfono: {{ doctor.telefonoDoctor }}
        <br>
        <br>
        Numero de DUI: {{ doctor.duiDoctor }}
        NIT: {{ doctor.nitDoctor }}
        NRC: {{ doctor.ncfDoctor }}
    </div>

    <br>
    <br>
    <a href="{% url 'doctor_editar' doctor.pk %}" class="btn btn-secondary">Editar datos</a>
    <button data-toggle="modal"  data-target="#confirmacionEliminarDoctor" class="btn btn-danger">Eliminar Doctor</button>

    <div class="modal fade" id="confirmacionEliminarDoctor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Eliminar Dr. {{ doctor.primerApellidoDoctor }} , {{ doctor.primerNombreDoctor }}</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro que quiere eliminar los datos?</p>
                </div>
                <div class="modal-footer">
                    <form action="{% url 'doctor_eliminar' pk=doctor.pk %}" method="POST">
                        {% csrf_token %}
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <input type="submit" value="Confirmar" class="btn btn-danger">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
    