{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">   
            {% if doctor.sexoDoctor %}
                <h1 class="h1 mb-4 text-gray-800">Dr. {{ doctor.primerApellidoDoctor }}</h1>
            {% else %}
                <h1 class="h1 mb-4 text-gray-800">Dra. {{ doctor.primerApellidoDoctor }}</h1>
            {% endif %}
        </div>     
    </div>    
    <div class="row">
        <div class="col-sm">
            
            {% if doctor.fotografiaDoctor.url != None %}     
                <img src="{{ doctor.fotografiaDoctor.url }}" class="rounded mx-auto d-block" alt="" height="400" width="300">
            {% else %}
                {% if doctor.sexoDoctor %}
                    <img src="/CEM/imagenes/doctores/defaultDr.jpg" class="rounded mx-auto d-block" alt="" height="300" width="200">
                {% else %}
                    <img src="/CEM/imagenes/doctores/defaultDra.jpg" class="rounded mx-auto d-block" alt="" height="300" width="200">
                {% endif %}
            {% endif %}

        </div>
    </div>
    <br>
    
    <div class="row">
        <div class="col-md-4">
            <p><b>Primer Nombre:</b> {{ doctor.primerNombreDoctor }}</p>
        </div>
        <div class="col-md-4">
            {% if doctor.segundoNombreDoctor != None %}
                <p><b>Segundo Nombre:</b> {{ doctor.segundoNombreDoctor }}</p>
            {% else %}
                <p><b>Segundo Nombre:</b></p>
            {% endif %}
        </div>
        <div class="col-md-4">
            {% if doctor.sexoDoctor %}
                <p><b>Sexo:</b> Masculino</p>
            {% else %}
                <p><b>Sexo:</b> Femenino</p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p><b>Primer apellido:</b> {{ doctor.primerApellidoDoctor }}</p>
        </div>
        <div class="col-md-4">
            {% if doctor.segundoApellidoDoctor != None %}
                <p><b>Segundo Apellido:</b> {{ doctor.segundoApellidoDoctor }}</p>
            {% else %}
                <p><b>Segundo Apellido:</b></p>
            {% endif %}
        </div>
        <div class="col-md4">
            <p><b>Fecha de nacimiento:</b> {{ doctor.fechaNacimientoDoctor }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p><b>Especialidad:</b> {{ doctor.especialidad }}</p>
        </div>
        <div class="col-md-4">
            <p><b>Correo Electrónico:</b> {{ doctor.correoElectronico }}</p>
        </div>
        <div class="col-md-4">
            <p><b>Número de teléfono:</b> {{ doctor.telefonoDoctor }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p><b>Numero de DUI:</b> {{ doctor.duiDoctor }}</b>
        </div>
        <div class="col-md-4">
            <p><b>NIT:</b> {{ doctor.nitDoctor }}</p>
        </div>
        <div class="col-md-4">
            <p><b>NRC:</b> {{ doctor.ncfDoctor }}</p>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col text-center">
            <a href="{% url 'doctor_editar' doctor.pk %}" class="btn btn-secondary">Editar datos</a>
            <button data-toggle="modal"  data-target="#confirmacionEliminarDoctor" class="btn btn-danger">Eliminar Doctor</button>  
        </div>
    </div>
    <div class="modal fade" id="confirmacionEliminarDoctor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Eliminar Dr. {{ doctor.primerNombreDoctor }} {{ doctor.primerApellidoDoctor }}</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro que quiere eliminar los datos?</p>
                </div>
                <div class="modal-footer">
                    <form action="{% url 'doctor_eliminar' pk=doctor.pk %}" method="POST">
                        {% csrf_token %}
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <input type="submit" value="Confirmar" class="btn btn-danger">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
    