{% extends 'base.html' %}

{% block content %}
    <h1 class="h1 mb-4 text-gray-800">Pacientes</h1>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Lista de pacientes en la clínica</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Expediente</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for paciente in pacientes %}
                        <tr onclick="DoNav('{% url 'paciente_datos' paciente.pk %}')">
                            <td>{{ paciente.expediente }}</td>
                            <td>{{ paciente.primerNombrePaciente }}</td>
                            <td>{{ paciente.primerApellidoPaciente }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        function DoNav(theUrl){
            document.location.href = theUrl;
        }

        $(document).ready(function() {
            $('#dataTable').DataTable( {
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json"
                }
            } );
        } );
    </script>


{% endblock content %}
    