{% extends 'base.html' %}

{% block content %}
    <h1 class="h1 mb-4 text-gray-800">Nuevo paciente</h1>
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="">Expediente:</label>
                <br>
                {{ form.expediente }}
            </div>
            <div class="form-group col-md-3">
                <label for="">Primer nombre:</label>
                <br>
                {{ form.primerNombrePaciente }}
            </div>
            <div class="form-group col-md-3">
                <label for="">Segundo nombre:</label>
                <br>
                {{ form.segundoNombrePaciente }}
            </div>
            <div class="form-group col-md-3">
                <label for="">Sexo:</label>
                <br>
                <input type="radio" name="sexo" value="True" required> Masculino
                <input type="radio" name="sexo" value="False"> Femenino
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="">Primer apellido:</label>
                <br>
                {{ form.primerApellidoPaciente }}
            </div>
            <div class="form-group col-md-4>
                <label for="">Segundo apellido:</label>
                <br>
                {{ form.segundoApellidoPaciente }}
            </div>
            <div class="form-group col-md-4">
                <label for="">Fecha de nacimiento:</label>
                <br>
                {{ form.fechaNacimientoPaciente }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="">Altura:</label>
                <br>
                {{ form.alturaPaciente }}
            </div>
            <div class="form-group col-md-4>
                <label for="">Peso:</label>
                <br>
                {{ form.pesoPaciente }}
            </div>
            <div class="form-group col-md-4">
                <label for="">Teléfono:</label>
                <br>
                {{ form.telefonoPaciente }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="">Doctores asignados:</label>
                <br>
                {{ form.doctores }}
            </div>
            <div class="form-group col-md-4>
                <label for="">Institución de proveniencia:</label>
                <br>
                {{ form.institucion }}
            </div>
            <div class="form-group col-md-4">
                <label for="">Aseguradora:</label>
                <br>
                {{ form.aseguradora }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="">Alergias</label>
                <br>
                {{ form.alergias }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="">Lugar de proveniencia:</label>
                <br>
                {{ form.lugarProveniencia }}
            </div>
            <div class="form-group col-md-8">
                <label for="">Antecedentes:</label>
                <br>
                Tabaquista:
                {{ form.tabquista }}
                Etitlista:
                {{ form.etilista }}
                Hipertenso:
                {{ form.hipertenso }}
                Diabetico:
                {{ form.diabetico }}
                Tuberculosis:
                {{ form.tuberculosis }}
                Anemia:
                {{ form.anemia }}
                Convulsiones:
                {{ form.convulsiones }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="">Cáncer:</label>
                <br>
                {{ form.cancer }}
            </div>
            <div class="form-group col-md-4">
                <label for="">Lugar de cáncer:</label>
                <br>
                {{ form.lugarCancer }}
            </div>
            <div class="form-group col-md-4">
                <label for="">Tratamiento:</label>
                <br>
                {{ form.tratamientoCancer }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="">Otros antecedentes:</label>
                <br>
                {{ form.antecedentes }}
            </div>
        </div>
        <div class="form-group">
            <label>Fotografía:</label>
            <br>
            {{ form.fotografiaPaciente }}
        </div>
        <div class="col-md-12">
            <div class="float-right">
                <a href="{% url 'pacientes' %}" class="btn btn-secondary">Cancelar</a>
                <input type="submit" value="Guardar" class="btn btn-primary">
            </div>
        </div>
    </form>
{% endblock content %}
    