{% extends 'base.html' %}

{% block content %}
    <h1 class="h1 mb-4 text-gray-800">Usuarios</h1>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Lista de usuarios activos</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Usuario</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for usuario in usuarios %}
                        <tr onclick="DoNav('{% url 'usuario_datos' usuario.pk %}')">
                            <td>{{ usuario.username }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        <script>
            function DoNav(theUrl){
                document.location.href = theUrl;
            }

            $(document).ready(function() {
            $('#dataTable').DataTable( {
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json"
                    }
                } );
            } );
        </script>
{% endblock content %}
    