{% extends 'base.html' %}

{% block content %}
    <h1 class="h1 mb-4 text-gray-800">Calendario</h1>

    <div class="row">
        <div class="col-12">
            {{ calendar }}
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col text-center">
            <a class="btn btn-secondary" href="{% url 'calendar' %}?{{ prev_month }}"> Previous Month </a>
            <a class="btn btn-secondary" href="{% url 'event_new' %}"> New Event </a>
            <a class="btn btn-secondary" href="{% url 'calendar' %}?{{ next_month }}"> Next Month </a>
        </div>
    </div>
{% endblock content%}