{% extends 'base.html' %}
{% block extrahead %}
{{ form.media }}
{% endblock %}

{% block content %}
  
  {% if form.errors %}
      {% for field in form %}
          {% for error in field.errors %}
              <div class="alert alert-danger">
                  {{ field.label }} <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
              {{ field.label }} <strong>{{ error|escape }}</strong>
          </div>
      {% endfor %}
  {% endif %}

<form method="post" class="justify-content-center">{% csrf_token %}
  <div class="container-fluid">
    <div class="row justify-content-center align-content-center">
      <div class="col-sm-6 text-center">
        <div class="info-form">
                <div class="form-row">
                  <div class="col-md-12">
                    <label>Título: </label>
                    <br>
                    {{ form.title }}
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-12">
                    <label>Descripción: </label>
                    <br>
                    {{ form.description }}
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-12">
                    <label>Doctor:</label>
                    <br>
                    {{ form.idDoctor }}
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-12">
                    <label>Paciente:</label>
                    <br>
                    {{ form.expediente }}
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-12">
                    <label>Fecha de inicio: </label>
                    {{ form.start_time }}
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-12">
                    <label>Fecha final: </label>
                    {{ form.end_time }}
                  </div>
                </div>
              
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col text-center">
        <a href="{% url 'calendar' %}" class="btn btn-secondary mr-2">Cancelar</a>
        <input type="submit" value="Guardar" class="btn btn-primary mr-2">
    </div>
  </div>
</form>
{% endblock %}